#finishImg{
    position: relative;
    background: url(../assets/mobile/finish.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    top: 0vh;
    height: 100vh;
    width: 100vw;
    object-fit: fill;
	z-index: 1;
}