.style14 {
	height: 100%;
	/*color: #DBDB17;
	background-image: linear-gradient(0deg, #393908 35%, #000000 65%);*/ 
	background: rgba(34,84,98,1);
background: -moz-linear-gradient(top, rgba(34,84,98,1) 0%, rgba(14,63,119,1) 97%, rgba(16,79,137,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,84,98,1)), color-stop(97%, rgba(14,63,119,1)), color-stop(100%, rgba(16,79,137,1)));
background: -webkit-linear-gradient(top, rgba(34,84,98,1) 0%, rgba(14,63,119,1) 97%, rgba(16,79,137,1) 100%);
background: -o-linear-gradient(top, rgba(34,84,98,1) 0%, rgba(14,63,119,1) 97%, rgba(16,79,137,1) 100%);
background: -ms-linear-gradient(top, rgba(34,84,98,1) 0%, rgba(14,63,119,1) 97%, rgba(16,79,137,1) 100%);
background: linear-gradient(to bottom, rgba(34,84,98,1) 0%, rgba(14,63,119,1) 97%, rgba(16,79,137,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#225462', endColorstr='#104f89', GradientType=0 );
}

.headImg {
	position: relative;
	top: 75vh;
    margin-bottom: 10px;
    display: block;
}

.style15 {
    position: absolute;
    bottom: 10vh;
	left:40vw;
	font-family: 'Roboto', sans-serif;
}

#voiceroomvideo{
	position: relative;
    top: 0vh;
    width: 100vw;
    height: 100vh;
	z-index: 1;
	   -o-object-fit: fill;
	      object-fit: fill;
}

.styleFullScreen{
	position: relative;
    top: 0vh;
    width: 100vw;
	height: 100vh;
	background-size: cover;
	z-index: 1;
	   -o-object-fit: fill;
	      object-fit: fill;
}

.style23 {
	display: None;
}

.voicefadein {
	display:block;
 -webkit-animation-name: fadeIn;
         animation-name: fadeIn;
 -webkit-animation-duration: 5s;
         animation-duration: 5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
         
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
         
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.pausebtnvoiceroom{
	/*border-color: #E9E810;*/
	border-color: rgb(218, 218, 218);
	border-radius: 50%;
	border-style: solid;
    width: 10vw;
	height: 10vw;
	font-size: 5vw;
	z-index: 20;
	cursor: pointer;
	display: grid;
    position: absolute;
    bottom: 40px;
    background-color: #423a3a;
    left: 5vw;
	min-height: 30px;
    min-width: 30px;
    max-height: 45px;
	max-width: 45px;
}

.btnvoiceroom {
	/*border-color: #E9E810;*/
	border-color: rgb(218, 218, 218);
	border-radius: 50%;
	border-style: solid;
	height: 18vw;
    width: 18vw;
    font-size: 9vw;
	cursor: pointer;
	display: grid;	
	z-index: 20;
    position: absolute;
    bottom: 30px;
    margin-left: 44.5vw;
    margin-right: 44.5vw;
	min-height: 50px;
    min-width: 50px;
    max-height: 60px;
	max-width: 60px;
	background-color: #423a3a;	
}

.btnvoiceroom:disabled{
	visibility: hidden;
}

.iconvoiceroom{
	/*color: yellowgreen;*/
	color: rgb(218, 218, 218);	
	position: relative;	
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.btnvoiceroom:disabled .iconvoiceroom{
	visibility: hidden;
}

.mutebtnvoiceroom{
	/*border-color: #E9E810;*/
	border-color: rgb(218, 218, 218);
	border-radius: 50%;
	border-style: solid;
    width: 10vw;
	height: 10vw;
	font-size: 5vw;
	z-index: 20;
	cursor: pointer;
	display: grid;
    position: absolute;
    bottom: 40px;
	right: 5vw;
	background-color: #423a3a;
	min-height: 30px;
    min-width: 30px;
    max-height: 45px;
	max-width: 45px;
}

.txtbtnvoiceroom{
	/*border-color: #E9E810;*/
	border-color: rgb(218, 218, 218);
	border-radius: 50%;
	border-style: solid;
    width: 10vw;
	height: 10vw;
	font-size: 5vw;
	z-index: 20;
	cursor: pointer;
	display: grid;
    position: absolute;
    bottom: 50%;
	right: 5vw;
	background-color: #423a3a;
	min-height: 30px;
    min-width: 30px;
    max-height: 45px;
	max-width: 45px;
}

.speech-bubble{
	width: 60%;
	height: auto;
	background: white;
	position: absolute;
	top: 15%;
	left:20%;
	z-index: 10;
	display: none;
	box-shadow: 3px 3px rgb(190, 190, 190);
	border-radius: 25px;
	border-color: black;
	padding: 15px;
	text-align: center;
	font-size: 15px;
}


.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 26px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-right: 0;
	margin-left: -13px;
	margin-bottom: -26px;
	box-shadow: 3px 0px rgb(190, 190, 190);
}


#recordingsoundwave{
	width: 10vw;
    height: 3vh;
    position: absolute;
    left: 1vw;
    top: 5vh;
    z-index: 50;
	background: url("../assets/Gifs/recordGif.gif") repeat;
	opacity: 1;
	background-size: cover;
}

.loader {
	position: relative;
	top: 20px;
  border: 1vw solid #f3f3f3;
  border-radius: 50%;
  border-top: 1vw solid black;
  width: 5vw;
  height: 5vw; /* Safari */
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

/*.hidebtnvoiceroom {
	border-radius: 15vw ;
	background: transparent;
	font-size: 20px;
	z-index: 30;
	cursor: pointer;
	margin: 1vw;
	display: inline;
	position: absolute;
	top: 2vh;
	right: 1vw;
	min-height: 30px;
	min-width: 30px;
	padding-top: 3px;
	clear: both;
}*/

/*.hideiconvoiceroom{
	color: white;	
	position: relative;	
	height: 3vh;	
	width: 5vw;	
	text-align: center;
	bottom: 5px;
}*/

#studioView{
    position: absolute;
    text-align: center;
	top: 0vh;
	z-index: 20;
    background: rgba(0,0,0,0.5);
    border-style:solid;
    border-width:3px;
    /*border-left-color:#DBDB17;
    border-right-color:#DBDB17;
	border-bottom-color:#DBDB17;*/
	border-color: rgb(218, 218, 218);
	border-top-color: transparent;
	border-bottom-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
	height: auto;
	-o-object-fit: contain;
	   object-fit: contain;
	min-height: 25vh;
	min-width: 35vw;
	max-height: 70vh;	
	overflow-y: scroll;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}

.studioSize {
	left: 5vw;
    right:5vw;
	width: 90%;
}

@media (max-width: 340px) {
	.studioSize{
		width: 100vw;
		left:0vw;
		right:0vw;
	}
  }

.voicesTitle {
	/*color: #D6D61A;*/
	color: rgb(218, 218, 218);
	font-weight: bold;
	text-align: center;
	min-height: 20px;
	height: 4vh;
	position: relative;
	top: 1px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	left: 40vw;
}

.style24 {
	height: 3vh;
	min-height: 10px;
	position: relative;
	font-size: 18px;
	text-align: center;
	/*color: #D6D61A;*/
	color: rgb(218, 218, 218);
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

.audioPlayer{
    position: relative; 
    top: 3vh; 
    padding-inline-start: 0px;
}


.btnYel {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	/*border-color: #D6D61A;*/
	border-style: solid;
	position: relative;
	margin-top:20px;
	font-size: 25px;
	/*color: #D6D61A;*/
	background-color: rgb(218, 218, 218);
	text-align: center;
}

.arrow {
  	left: 8vw;
  	position: relative;	
    text-align: center;
	margin: auto;
	top: 75%;
	left: 65%;
	width: 20px;
  height: 20px;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(-45deg);
  border-left: none;
  border-top: none;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  color: black;
}  


