html {
	scroll-behavior: smooth;
}
.style1 {
    height: 100%;
    background-color: black;
}
.center{
  margin-left: auto;
  margin-right: auto;
}

.text {
	font-family: 'Roboto', sans-serif;
	position: relative;
	top: 5%;
	margin-left: 30px;
	font-weight: 500;
	color: white;
	font-size: 55px;
}

.blueRoom {
    background: rgba(89,216,213,1);
background: -moz-linear-gradient(top, rgba(89,216,213,1) 0%, rgba(8,168,218,1) 99%, rgba(210,234,244,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(89,216,213,1)), color-stop(99%, rgba(8,168,218,1)), color-stop(100%, rgba(210,234,244,1)));
background: -webkit-linear-gradient(top, rgba(89,216,213,1) 0%, rgba(8,168,218,1) 99%, rgba(210,234,244,1) 100%);
background: -o-linear-gradient(top, rgba(89,216,213,1) 0%, rgba(8,168,218,1) 99%, rgba(210,234,244,1) 100%);
background: -ms-linear-gradient(top, rgba(89,216,213,1) 0%, rgba(8,168,218,1) 99%, rgba(210,234,244,1) 100%);
background: linear-gradient(to bottom, rgba(89,216,213,1) 0%, rgba(8,168,218,1) 99%, rgba(210,234,244,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59d8d5', endColorstr='#d2eaf4', GradientType=0 ); 
}

.style22 {
	display: block;
  background-color: black;
  text-align: left;
}

  .audioRecordedTrack {
    height: 5vh;
  }


.square {
  float: left;
  position: relative;
  width: 40%;
  padding-bottom : 20%; /* = width for a 1:1 aspect ratio */
  margin-left: 6%;
  margin-top:10%;
  background-color:transparent;
  overflow:hidden;
  border-radius: 15px;
}

.content {
  position:absolute;
  height:90%;
  width:90%;
  padding: 5%;
}

.table{
  display:table;
  width:100%;
  height:100%;
}

.table-cell{
  display:table-cell;
  vertical-align:middle;
}

